<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <script type="text/javascript" src='http://code.jquery.com/jquery-1.10.2.min.js'></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
  <script src=" https://code.jquery.com/jquery-3.2.1.slim.min.js "></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js ">
  </script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js">
  </script>
  <title>Belt Reviewer</title>
</head>

<body>
  <div id="top bar" class="container row">
    <h2 class="text-left col"> Welcome, {{user.alias}}!</h2> {% if messages %}
    <ul class="messages text-center">
      {% for message in messages %}
      <p{% if message.tags %} class="{{ message.tags }} text-success" {% endif %}>{{ message }}</p>
        {% endfor %}
    </ul>
    {% endif %}

    <div id="right area row" class="text-right">
      <a href="{% url 'index' %}">Home </a><br>
      <a href="/books/add">Add Book and Review </a><br>
      <a href="{% url 'books' %}">Books </a>
      <a href="{% url 'view_users'%}">View users</a>
      <a href="{% url 'logout' %}">Log Out </a>
    </div>
  </div>

  <div id="wrapper" class="container-fluid">
    <h2> Users</h2>
    <div id="user_list" class="container-fluid">
      <table class="table table-hover container-fluid borde">
        <thead>
          <tr>
            <th>ID#</th>
            <th>Name</th>
            <th>Alias</th>
            <th>Email</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr> {% for u in users %}


            <td scope="row">{{u.id}}</td>
            <td>{{u.name}}</td>
            <td> {{u.alias}}</td>
            <td>{{u.email}}</td>
            <td>{{u.created_at}}</td>
            <form action='process' method='post'>

              <td><a href="{{u.id}}">Show<a> <a href="{{u.id}}/edit">Edit  </a> <a href="{{u.id}}/delete" onclick="return confirm('Are you sure?')">Delete</a> </td>
          </tr>
          {%endfor%} {% csrf_token %}

        </tbody>
      </table>

    </div>

  </div>
</body>

</html>
